.signups {
position: absolute;
align-items: center;
align-text: center;
justify-content: space-evenly;
top: 50%;
left: 32%;
}

.vol-btn {
width: 250px;
height: 100px;
color: black;
font-size: 1.5rem;
background-color: #1EC600;
}

.donor-btn {
width: 250px;
height: 100px;
color: black;
font-size: 1.5rem;
background-color: #33D7FF;
}

.login-btn {
width: 175px;
height: 50px;
color: black;
font-size: 1.5rem;
background-color: #DAF7A6;
}

.login {
position: absolute;
align-items: center;
align-text: center;
justify-content: space-evenly;
top: 75%;
left: 43%;
}

#boxes {
content: "";
display: table;
clear: both;
}

div{
float: left;
height: 470px;
width: 23%;
padding: 0 10px;
}
#column1 {
background-color: white
}
#column2 {
background-color: white
}
#column3 {
background-color: white
}
