<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DonorSignUp</title>
</head>
<body>
<h1 align="center">Sign up to donate blood!</h1>
<br/><br/>
{% if submitted %}
    Congratulations! You have signed up to donate.
{% else %}
    <div align="center">
        <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    </div>
{% endif %}
<div align="center">
    <button type="submit"><a href='/'>Return Home</a> </button>
</div>
</body>
</html>