<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Table</title>
    {% load bloodbank_filters %}
</head>
<body>
<h1>{{table_name}}s</h1>
<div class="content">
    <table border="1">
    {% for entry in objects %}
        {% for key, value in entry.items %}
                <tr>
                    <th>{{ key }}</th>
                </tr>
                <tr>
                    <td>{{ value }}</td>
                </tr>
        {% endfor %}
        <tr>
            <td><button type="submit"><a href="/update/{{ table_name }}/{{ entry|get_primary_key:entry }}">Update</a> </button></td>
        </tr>
    {% endfor %}
    </table>
</div>
    </body>
</html>