<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    {% load bloodbank_filters %}
</head>
<body>
{% if to_find %}
    <h1 align="center">Search Results</h1>
    <table border="1" align="center">
    {% for entry in objects %}
        {% for key, value in entry.items %}
                <tr>
                    <th>{{ key }}</th>
                </tr>
                <tr>
                    <td>{{ value }}</td>
                </tr>
        {% endfor %}
        <tr>
            <td><button type="submit"><a href="/update/{{ table_name }}/{{ entry|get_primary_key:entry }}">Update</a> </button></td>
            <td><button type="submit"><a href="/remove/{{ table_name }}/{{ entry|get_primary_key:entry }}">Remove</a> </button></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <h1 align="center">There were no items in {{ table_name }} matching "{{ to_find }}"</h1>
{% endif %}
</body>
</html>